@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

body,
html {
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-some-color: #801ae5;
  --color-primary: #06071a;
  --color-secondary: #191a30;
  --color-tertiary: #282939;
  --color-highlight: #4c75ff;
  --color-black: #000000;
  --color-text: #ffffff;
  --color-gradientStart: #682ec7;
  --color-gradientEnd: #5a12d3;
  --color-gradientHover: #6d4def;
  --color-radial-start: #5505a4;
  --color-radialMiddle: #801ae5;
  --color-radialEnd: #060714;
  --color-danger: #ff0000;
  --color-dangerOpacity: rgba(255, 0, 0, 0.8);
  --color-success: #00e100;
  --color-warning: #e1e100;
}

@layer utilities {
  .border-b-gradient {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #38029b00, #5a12d3, #38029b00);
    border-image-slice: 1;
    width: 100%;
  }

  .bg-custom-linear-gradient {
    @apply bg-gradient-to-b from-gradientStart to-gradientEnd;
  }

  .custom-gradient {
  @apply bg-gradient-to-r from-0% from-gradientStart to-100% to-gradientEnd;
}

}

.custom-radial-gradient {
  @apply bg-radial from-0% from-radial-start via-50% via-radialMiddle to-100% to-radialEnd;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}